Tutorial_Process_Application_Utility/schemas/system/HttpResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.bea.com/wli/control/httpResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bea.com/wli/control/httpResponse" elementFormDefault="qualified">
	<xs:element name="Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ResponseCode" type="xs:int"/>
				<xs:element name="ResponseMessage" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>